/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: 'BOLT_SMLV_SOMATIC_RESCUE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/smlv_somatic/rescue/${filename}" },
        ]
    }

    withName: 'BOLT_SMLV_SOMATIC_ANNOTATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/smlv_somatic/annotate/${filename}" },
        ]
    }

    withName: 'BOLT_SMLV_SOMATIC_FILTER' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/smlv_somatic/filter/${filename}" },
        ]
    }

    withName: 'BOLT_SMLV_SOMATIC_REPORT' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/smlv_somatic/report/${filename}" },
        ]
    }

    withName: 'BOLT_SMLV_GERMLINE_PREPARE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/smlv_germline/prepare/${filename}" },
        ]
    }

    withName: 'BOLT_SMLV_GERMLINE_REPORT' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/smlv_germline/report/${filename}" },
        ]
    }

    withName: 'BOLT_SV_SOMATIC_ANNOTATE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/sv_somatic/annotate/${filename}" },
        ]
    }

    withName: 'BOLT_SV_SOMATIC_PRIORITISE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            // NOTE(SW): java.io.File and Nextflow's file do not work here, resorting to string splitting
            saveAs: { filename ->
                if (filename.equals('versions.yml')) {
                    return null
                } else {
                    def tokens = filename.split('[/]')
                    return "${meta.key}/sv_somatic/prioritise/${tokens[-1]}"
                }
           }
        ]
    }

    withName: 'PURPLE' {
        ext.jarPath = '/opt/purple/purple.jar'
        ext.circosPath = '/opt/conda/bin/circos'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/${filename}" },
        ]
    }

    withName: 'BOLT_OTHER_PURPLE_BAF_PLOT' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/other/purple_baf_plot/${filename}" },
        ]
    }

    withName: 'BOLT_OTHER_CANCER_REPORT' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/other/${filename}" },
        ]
    }

    withName: 'BOLT_OTHER_MULTIQC_REPORT' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/other/${filename}" },
        ]
    }

    withName: '.*:LINX_ANNOTATION:(?:GERMLINE|SOMATIC)|.*:LINX_PLOTTING:VISUALISER' {
        ext.jarPath = '/opt/linx/linx.jar'
    }

    withName: '.*:LINX_ANNOTATION:GERMLINE' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/linx/germline_annotations/" },
        ]
    }

    withName: '.*:LINX_ANNOTATION:SOMATIC' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/linx/somatic_annotations/" },
        ]
    }

  withName: '.*:LINX_PLOTTING:VISUALISER' {
        ext.circosPath = '/opt/conda/bin/circos'
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/linx/somatic_plots/" },
        ]
    }

    withName: '.*:LINX_PLOTTING:GPGR' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.key}/linx/${filename}" },
        ]
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        container = 'docker.io/scwatts/python:3.9.18-slim-pyyaml-aws'

        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
