params {

    data_versions {
        umccr_reference_data = '1--0'
        hmf_reference_data = '5.34_38--0'

        pcgr = '20220203'
        snpeff = '5_1'

        oncokb = '4.12'
        appris = '46'

        pon = '2019_Feb'
    }

    genome {
        fasta = 'genomes/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa'
        fai   = 'genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai'
        dict  = 'genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict'
    }

    miscdata_paths {
        pcgr_dir = "databases/pcgr/v${params.data_versions.pcgr}/"
        snpeff_dir = "databases/snpeff/v${params.data_versions.snpeff}/"

        oncokb_genes = "databases/oncokb/v${params.data_versions.oncokb}/cancerGeneList.txt"
        appris = "databases/appris/v${params.data_versions.appris}/appris_data.tsv"

        pon_dir = "panel_of_normals/umccr/tertiary_workflow/v${params.data_versions.pon}/"
    }

    umccrdata_paths {
        somatic_panel = 'gene_panels/somatic/umccr_cancer_genes.latest.tsv'
        somatic_panel_genes = 'gene_panels/somatic/umccr_cancer_genes.latest.genes'
        somatic_panel_genes_ts = 'gene_panels/somatic/umccr_cancer_genes.tsgenes.latest.genes'
        somatic_panel_regions_gene = 'gene_panels/somatic/umccr_cancer_genes.genes.bed'
        somatic_panel_regions_cds = 'gene_panels/somatic/umccr_cancer_genes.cds.bed'

        known_fusion_pairs = 'gene_panels/fusion/hartwig_known_pairs.csv'
        known_fusion_five = 'gene_panels/fusion/hartwig_promiscuous_five.csv'
        known_fusion_three = 'gene_panels/fusion/hartwig_promiscuous_three.csv'

        germline_panel_genes = 'gene_panels/germline/umccr_predisposition_genes.latest.genes'
        germline_panel_regions_transcript = 'gene_panels/germline/umccr_predisposition_genes.genes.bed'

        hotspots = 'annotations/hotspots/hotspots.combined.vcf.gz'

        annotations_dir = 'annotations/'

        driver_gene_panel = 'hmftools/small_variants/DriverGenePanel.38.tsv'
        ensembl_data_resources = 'hmftools/ensembl_data_cache/'
        sage_known_hotspots_germline = 'hmftools/small_variants/KnownHotspots.germline.38.vcf.gz'
        known_fusions = 'hmftools/fusions/known_fusions.38.bedpe'
        known_fusion_data = 'hmftools/fusions/known_fusion_data.38.csv'

        purple_baf_circos_config = 'other/purple_baf_circos/circos_baf.conf'
        purple_baf_circos_gaps = 'other/purple_baf_circos/gaps.38.txt'
    }

    // NOTE(SW): this should be shared with oncoanalyser
    hmfdata_paths {
        // AMBER
        heterozygous_sites            = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/copy_number/AmberGermlineSites.38.tsv.gz"
        // COBALT
        gc_profile                    = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/copy_number/GC_profile.1000bp.38.cnp"
        diploid_bed                   = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/copy_number/DiploidRegions.38.bed.gz"
        // CUPPA
        cuppa_resources               = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/cuppa/"
        // SV Prep
        sv_prep_blocklist             = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/sv/sv_prep_blacklist.38.bed"
        // GRIDSS, GRIPSS
        gridss_pon_breakends          = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/sv/sgl_pon.38.bed.gz"
        gridss_pon_breakpoints        = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/sv/sv_pon.38.bedpe.gz"
        gridss_region_blocklist       = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/sv/gridss_blacklist.38.bed.gz"
        repeatmasker_annotations      = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/sv/repeat_mask_data.38.fa.gz"
        // Isofox
        isofox_counts                 = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/rna_pipeline/read_151_exp_counts.csv"
        isofox_gc_ratios              = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/rna_pipeline/read_100_exp_gc_ratios.csv"
        // LILAC
        lilac_resources               = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/immune/"
        // ORANGE
        cohort_mapping                = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/orange/cohort_mapping.tsv"
        cohort_percentiles            = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/orange/cohort_percentiles.tsv"
        alt_sj_distribution           = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/rna_pipeline/isofox.hmf_3444.alt_sj_cohort.38.csv"
        gene_exp_distribution         = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/rna_pipeline/isofox.hmf_3444.gene_distribution.38.csv"
        // SAGE
        clinvar_annotations           = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/variants/clinvar.38.vcf.gz"
        sage_blocklist_regions        = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/variants/KnownBlacklist.germline.38.bed"
        sage_highconf_regions         = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/variants/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel_noCENorHET7.bed.gz"
        sage_known_hotspots_somatic   = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/variants/KnownHotspots.somatic.38.vcf.gz"
        sage_pon                      = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/variants/SageGermlinePon.98x.38.tsv.gz"
        // Sigs
        sigs_signatures               = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/sigs/snv_cosmic_signatures.csv"
        // Virus Interpreter
        virus_reporting_db            = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/virusinterpreter/virus_reporting_db.tsv"
        virus_taxonomy_db             = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/virusinterpreter/taxonomy_db.tsv"
        // Misc
        disease_ontology              = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/disease_ontology/doid.json"
        gnomad_resource               = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/variants/gnomad/"
        gridss_config                 = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/sv/gridss.properties"
        purple_germline_del           = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/copy_number/cohort_germline_del_freq.38.csv"
        segment_mappability           = "hmf_reference_data/hmftools/${data_versions.hmf_reference_data}/dna_pipeline/variants/mappability_150.38.bed.gz"
    }

}
