params {
    genome {
        fasta = 'genomes/GRCh38_umccr/GRCh38_full_analysis_set_plus_decoy_hla.fa'
        fai   = 'genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai'
        dict  = 'genomes/GRCh38_umccr/samtools_index/1.16/GRCh38_full_analysis_set_plus_decoy_hla.fa.dict'
    }

    umccrdata_paths {

        driver_gene_panel = 'umccr_reference_data/hmftools/common/DriverGenePanel.38.tsv'
        ensembl_data_resources = 'umccr_reference_data/hmftools/common/ensembl_data/'
        sage_known_hotspots_germline = 'umccr_reference_data/hmftools/small_variants/KnownHotspots.germline.38.vcf.gz'
        known_fusions = 'umccr_reference_data/hmftools/structural_variants/known_fusions.38.bedpe'
        known_fusion_data = 'umccr_reference_data/hmftools/structural_variants/known_fusion_data.38.csv'

        // Unused UMCCR-specific hmftools resources
        //sage_coverage_panel = 'umccr_reference_data/hmftools/small_variants/CoverageCodingPanel.38.bed.gz'
        //sage_actionable_panel = 'umccr_reference_data/hmftools/small_variants/ActionableCodingPanel.38.bed.gz'
        //sage_blocklist_sites = 'umccr_reference_data/hmftools/small_variants/KnownBlacklist.germline.38.vcf.gz'

        somatic_driver_panel = 'umccr_reference_data/gene_panels/somatic_driver/umccr_cancer_genes.latest.tsv'
        somatic_driver_panel_genes = 'umccr_reference_data/gene_panels/somatic_driver/umccr_cancer_genes.latest.genes'
        somatic_driver_panel_genes_ts = 'umccr_reference_data/gene_panels/somatic_driver/umccr_cancer_genes.tsgenes.latest.genes'
        somatic_driver_panel_regions_gene = 'umccr_reference_data/gene_panels/somatic_driver/umccr_cancer_genes.hg38.ensembl107.sort.bed'
        somatic_driver_panel_regions_coding = 'umccr_reference_data/gene_panels/somatic_driver/umccr_cancer_genes.hg38.coding.bed'

        germline_predisposition_panel_genes = 'umccr_reference_data/gene_panels/germline_predisposition/cpsr_predisposition_genes_ensembl.txt'
        germline_predisposition_panel_regions_transcript = 'umccr_reference_data/gene_panels/germline_predisposition/predispose_genes.hg38.transcript.bed'

        hotspots = 'umccr_reference_data/hotspots/hotspots.combined.vcf.gz'

        annotations_dir = 'umccr_reference_data/annotations/'
        pon_dir = 'umccr_reference_data/panel_of_normals/'

        known_fusion_pairs = 'umccr_reference_data/gene_panels/somatic_fusion/knownFusionPairs.csv'
        known_fusion_heads = 'umccr_reference_data/gene_panels/somatic_fusion/knownPromiscuousFive.csv'
        known_fusion_tails = 'umccr_reference_data/gene_panels/somatic_fusion/knownPromiscuousThree.csv'
        known_fusioncatcher_pairs = 'umccr_reference_data/gene_panels/somatic_fusion/fusioncatcher_pairs.txt'

        appris = 'umccr_reference_data/gene_panels/somatic_fusion/appris_data.principal.txt'

        pcgr_dir = 'umccr_reference_data/databases/pcgr'
        snpeff_dir = 'umccr_reference_data/databases/snpeff'
        oncokb_genes = 'umccr_reference_data/databases/oncokb/oncokb_genes.20231113.tsv'

        purple_baf_circos_config = 'umccr_reference_data/other/purple_baf_circos/circos_baf.conf'
        purple_baf_circos_gaps = 'umccr_reference_data/other/purple_baf_circos/gaps.38.txt'
    }

    // NOTE(SW): this should be shared with oncoanalyser
    hmfdata_paths {
        // AMBER
        heterozygous_sites            = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/copy_number/GermlineHetPon.38.vcf.gz'
        // COBALT
        gc_profile                    = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/copy_number/GC_profile.1000bp.38.cnp'
        diploid_bed                   = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/copy_number/DiploidRegions.38.bed.gz'
        // CUPPA
        cuppa_resources               = 'hmf_reference_data/hmftools/5.33_38--0/cuppa/'
        // SV Prep
        sv_prep_blocklist             = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/sv/sv_prep_blacklist.38.bed'
        // GRIDSS, GRIPSS
        gridss_pon_breakends          = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/sv/sgl_pon.38.bed.gz'
        gridss_pon_breakpoints        = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/sv/sv_pon.38.bedpe.gz'
        gridss_region_blocklist       = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/sv/gridss_blacklist.38.bed.gz'
        repeatmasker_annotations      = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/sv/repeat_mask_data.38.fa.gz'
        // Isofox
        isofox_counts                 = 'hmf_reference_data/hmftools/5.33_38--0/rna_pipeline/read_151_exp_counts.csv'
        isofox_gc_ratios              = 'hmf_reference_data/hmftools/5.33_38--0/rna_pipeline/read_100_exp_gc_ratios.csv'
        // LILAC
        lilac_resources               = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/immune/'
        // ORANGE
        cohort_mapping                = 'hmf_reference_data/hmftools/5.33_38--0/orange/cohort_mapping.tsv'
        cohort_percentiles            = 'hmf_reference_data/hmftools/5.33_38--0/orange/cohort_percentiles.tsv'
        alt_sj_distribution           = 'hmf_reference_data/hmftools/5.33_38--0/rna_pipeline/isofox.hmf_3444.alt_sj_cohort.38.csv'
        gene_exp_distribution         = 'hmf_reference_data/hmftools/5.33_38--0/rna_pipeline/isofox.hmf_3444.gene_distribution.38.csv'
        // SAGE
        clinvar_annotations           = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/variants/clinvar.38.vcf.gz'
        sage_blocklist_regions        = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/variants/KnownBlacklist.germline.38.bed'
        sage_highconf_regions         = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/variants/HG001_GRCh38_GIAB_highconf_CG-IllFB-IllGATKHC-Ion-10X-SOLID_CHROM1-X_v.3.3.2_highconf_nosomaticdel_noCENorHET7.bed.gz'
        sage_known_hotspots_somatic   = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/variants/KnownHotspots.somatic.38.vcf.gz'
        sage_pon                      = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/variants/SageGermlinePon.98x.38.tsv.gz'
        // Sigs
        sigs_signatures               = 'hmf_reference_data/hmftools/5.33_38--0/sigs/snv_cosmic_signatures.csv'
        // Virus Interpreter
        virus_reporting_db            = 'hmf_reference_data/hmftools/5.33_38--0/virusinterpreter/virus_reporting_db.tsv'
        virus_taxonomy_db             = 'hmf_reference_data/hmftools/5.33_38--0/virusinterpreter/taxonomy_db.tsv'
        // Misc
        disease_ontology              = 'hmf_reference_data/hmftools/5.33_38--0/disease_ontology/doid.json'
        gnomad_resource               = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/variants/gnomad/'
        gridss_config                 = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/sv/gridss.properties'
        purple_germline_del           = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/copy_number/cohort_germline_del_freq.38.csv'
        segment_mappability           = 'hmf_reference_data/hmftools/5.33_38--0/dna_pipeline/variants/mappability_150.38.bed.gz'
    }
}
